body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 600px;
}

.keyword-input {
    margin-top: 10px;
    margin-bottom: 10px;
}

#results {
    margin-top: 20px;
    text-align: left;
}

input[type="text"], input[type="file"] {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    width: calc(100% - 16px);
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}

#dropArea {
    border: 2px dashed #cccccc;
    border-radius: 8px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    cursor: pointer;
}

#dropArea.hover {
    border-color: #333333;
    background-color: #e0e0e0;
}
